body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

audio {
  display: none;
}

main {
  width: 100%;
  height: 100%;
  background: rgba(0,0,30,1);
}

#loadgamebtn {
  display: none;
  width: 100%;
  height: 100%;
}

#moth {
  position: absolute;
  width: 74px;
  height: 40px;
  top: -20px;
  left: -37px;
}

#lover {
  position: absolute;
  width: 74px;
  height: 40px;
  top: -20px;
  left: -37px;
}

.moth-body {
  --final-cell: 0px;
  position: absolute;
  top: 20px;
  left: 1px;
  width: 62px;
  height: 24px;
  background: no-repeat url(assets/mothsheet.png) 0 0px;
}

.moth-front-wing {
  --final-cell: -224px;
  position: absolute;
  width: 74px;
  height: 40px;
  background: no-repeat url(assets/mothsheet.png) 0 -24px;
}

.moth-back-wing {
  --final-cell: -224px;
  position: absolute;
  width: 74px;
  height: 40px;
  background: no-repeat url(assets/mothsheet.png) 0 -24px;
}

.idle-moth {
  animation-name: idleMoth;
  animation-duration: 200ms;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes idleMoth {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: var(--final-cell);
  }
}

/* farts */
.fart {
  position: absolute;
  background: no-repeat url(assets/fart.png) 0 -32px;
  height: 32px;
}

.fart-initial {
  width: 32px;
  background-position-y: 0;
  animation-name: initialFart, fartDispersal;
  animation-duration: 1000ms, 2000ms;
  animation-timing-function: steps(3), ease;
  animation-iteration-count: 1, 1;
  animation-fill-mode: forwards, forwards;
}

.fart-stream {
  width: 1px;
  background-position-y: 0;
  animation-name: fartTrail, fartDispersal;
  animation-duration: 1000ms, 2000ms;
  animation-timing-function: steps(64), ease;
  animation-iteration-count: 1, 1;
  animation-fill-mode: forwards, forwards;
}

@keyframes initialFart {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -99px;
  }
}

@keyframes fartTrail {
  from {
    background-position-x: -192px;
  }
  to {
    background-position-x: -136px;
  }
}

@keyframes fartDispersal {
  from {
    opacity: 0.95;
  }
  to {
    /*opacity: 0;*/
    opacity: 0.95;
  }
}
/* #grasses {} */

.grass {
  position: absolute;
  background: no-repeat url(assets/grass.png) 0 -1080px;
  width: 32px;
  height: 40px;
}

.grass-1 {
  background-position: 0 0;
}

.grass-2 {
  background-position: -32px 0;
}

.grass-3 {
  background-position: -64px 0;
}

.grass-4 {
  background-position: -96px 0;
}

.grass-5 {
  background-position: -128px 0;
}

.grass-6 {
  background-position: -160px 0;
}

.grass-animated {
  animation-name: grassAnimation;
  animation-duration: 500ms;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes grassAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -96px;
  }
}

/* #flowers {} */

.flower {
  position: absolute;
  background: no-repeat url(assets/flower.png) 0 -1080px;
  width: 200px;
  height: 285px;
}

.flower-1 {
  top: -240px;
  background-position-y: 0px;
}


/* #trees */

.tree {
  position: absolute;
  background: no-repeat url(assets/tree.png) 0 -1080px;
}

.tree-1 {
  background-position: 0 0;
  width: 390px;
  height: 1043px;
}

#sea {
  background: blue;
  height: 32px;
  width: 1000px;
}

#sky {
  background: rgba(0,0,30,1);
}

.notification {
  position: absolute;
  bottom: 1em;
  left: 1em;
  border-radius: 7px;
  padding: 1em;
  background: rgba(40, 0, 40, 0.6);
  color: rgba(200, 255, 200, 1);
  max-width: 25ch;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 15px;
  letter-spacing: 0.015em;
}

meter {
  position: absolute;
  top: 3%;
  left: 6%;
  width: 88%;
  height: 1em;
}
